/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 html, body {
  height: 100%;
  margin: 0;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  background-image: url('https://images.pexels.com/photos/5926397/pexels-photo-5926397.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover; /* Make sure the image covers the entire hero section */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  color: white; /* Adjust text color for better readability */
  height: 100vh; /* Set height to full viewport height */
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
